body {
  background-color: #e2dede;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #1b4b75;
}

.navbar a {
  color: #e2dede;
  font-size: larger;
}

.jumbotron {
  background-color: #337ab7;
  color: #e2dede;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.table th {
  background-color: #337ab7;
  color: #e2dede;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}

.table td {
  text-align: center;
  vertical-align: middle;
  font-size: 175%;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

.container {
  margin-top: 15px;
}

h3 {
  text-align: center;
  margin-top: 30px;
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-right: 5px;
  width: 75px;
  padding-bottom: 10px;
}

.form-check-input {
  position: static;
  margin-top: 0;
  margin-left: 0;
}

input[type=checkbox], input[type=radio] {
  margin: 0px 5px 0;
  margin-top: 1px\9;
  line-height: normal;
}

label {
  margin-bottom: 0px;
}