body {
    background-color: #e2dede;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #337ab7;
  }

  .navbar a {
    color: #e2dede;
  }

  .jumbotron {
    background-color: #337ab7;
    color: #e2dede;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  
  .table th {
    background-color: #337ab7;
    color: #e2dede;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
  }
  
  .table td {
    text-align: center;
    font-size: 175%;
  }
  
  .container {
    margin-top: 15px;
  }
  
  h3 {
    text-align: center;
    margin-top: 30px;
  }

  