<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Weekly mileage</title>
  </head>

  <body>

    {% include "navbar.html" %}
    
    <div class="container">
      
      <div class="jumbotron">
        <h1>Welcome {{ athlete }}, here are your results for the year so far:</h1>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Week #</th>
            <th>Mileage</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in entries[:-3] %}
            <tr>
              <td>{{ entry.week }}</td>
              <td {% if entry.mileage < entry.week_avg %}style="background-color: #ffdddd;"{% else %}style="background-color: #90EE90;"{% endif %}>
                {{ entry.mileage|round(3) }} miles (
                {% if entry.mileage < entry.week_avg %}
                    -{{ (entry.week_avg - entry.mileage)|round(3) }}
                {% else %}
                    +{{ (entry.mileage - entry.week_avg)|round(3) }}
                {% endif %})
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% for entry in entries[-3:] %}
        <h3>{{ entry|safe }}</h3>
      {% endfor %}
    </div>
  </body>
</html>
