{% extends "base.html" %}

{% block title %}Weight Data{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome {{ athlete }}, here's your weight chart:</h1>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div id="dashboard_div" class="mw-100"></div>
        <div id="chart_div"></div>
        <div id="filter_div"></div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-title">Unit of Measurement</h2>
          </div>
          <div class="card-body">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="unit" id="lbs-radio" value="lbs" checked>
              <label class="form-check-label" for="lbs-radio">
                Lbs
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="unit" id="kg-radio" value="kg">
              <label class="form-check-label" for="kg-radio">
                Kg
              </label>
            </div>
          </div>
          <div class="jumbotron text-center"  {% if weights[-1:][0][2] < weights[-2:][0][2] %}style="background-color: #90EE90;"{% else %}style="background-color: #ffdddd;"{% endif %}>
            <h3 id='weight-info' class="display-4" {% if weights[-1:][0][2] < weights[-2:][0][2] %}style="color: green;"{% else %}style="color: red;"{% endif %}>Your latest weight is {{ weights[-1:][0][2] }} lbs!</h3>
          </div>
        </div>
        <div class="card">
            <div class="card-header">
              <h2 class="card-title">Add a new weight:</h2>
            </div>
            <div class="card-body">
              <form id="add-weight-form">
                <div class="form-group">
                  <label for="date-input">Date:</label>
                  <input type="date" id="date-input" class="form-control">
                </div>
                <div class="form-group">
                  <label for="weight-input">Weight:</label>
                  <input type="number" id="weight-input" class="form-control" step="0.1">
                </div>
                <button type="submit" class="btn btn-primary" id="add-weight-btn">Add Weight</button>
                <button type="submit" class="btn btn-primary" id="edit-weight-btn">Edit Weight</button>
                <button type="submit" class="btn btn-primary" id="remove-weight-btn">Remove Weight</button>
              </form>
              <div>
                <h2 id="btn-result"></h2>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

{% block scripts %}
<script>
    window.wgt = [{% for weight in weights %}
                    [new Date('{{ weight[1] }}'), {{ weight[2] }}],
                 {% endfor %}]
</script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}

{% endblock %}